{% load static %}

<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="sidebar-nav">
            <!-- START user info-->
            <li class="has-user-block">
                <div class="collapse" id="user-block">
                    <div class="item user-block">
                        <!-- User picture-->
                        <div class="user-block-picture">
                            <div class="user-block-status">
                                <img class="img-thumbnail rounded-circle" src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'assets/img/dummy.png' %}{% endif %}" alt="Avatar" width="60" height="60">
                                <div class="circle bg-success circle-lg"></div>
                            </div>
                        </div>
                        <!-- Name and Job-->
                        <div class="user-block-info">
                            <span class="user-block-name">{{ user.get_full_name|default:user.username }}</span>
                            <span class="user-block-role">{{ user.userprofile.role|default:'User' }}</span>
                        </div>
                    </div>
                </div>
            </li>
            <!-- END user info-->
            
            <!-- Main Navigation Heading -->
            <li class="nav-heading">
               <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
            </li>
            
            <!-- Dashboard -->
            <li class="">
                <a href="{% url 'admin_dashboard' %}" title="Dashboard">
                    <em class="icon-speedometer"></em>
                    <span>Dashboard</span>
                </a>
            </li>
            
            <!-- User Management (with children) -->
            <li class="">
                <a href="#user-management" title="User Management" data-toggle="collapse" aria-expanded="false">
                    <em class="icon-people"></em>
                    <span>User Management</span>
                </a>
                <ul class="sidebar-nav sidebar-subnav collapse" id="user-management">
                    <li class="sidebar-subnav-header">User Management</li>
                    <li class="">
                        <a href="{% url 'user_management' %}" title="User List">
                           <em class="icon-user"></em>  
                           <span>User List</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'access_requests' %}" title="Access Request">
                            <em class="icon-user"></em>  
                            <span>Access Request</span>
                        </a>
                    </li>

                </ul>
            </li>
            
            <!-- Add more menu items here as needed -->
            
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->