{% load static %}

<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div class="collapse" id="user-block">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        {% if request.user.userprofile.profilepicture %}
                        <img class="img-thumbnail rounded-circle" src="{{ request.user.userprofile.profilepicture.url }}" alt="Avatar" width="60" height="60">
                        {% else %}
                        <img class="img-thumbnail rounded-circle" src="{% static 'assets/img/user/02.jpg' %}" alt="Avatar" width="60" height="60">
                        {% endif %}
                        <div class="circle bg-success circle-lg"></div>
                     </div>
                  </div>
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, {{ request.user.first_name|title|default:request.user.username|title }}</span>
                     <span class="user-block-role">Administrator</span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         
         <!-- Main Navigation -->
         <li class="nav-heading"><span>Main Navigation</span></li>
         
         <!-- Single Dashboard Link -->
         <li class="{% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
            <a href="{% url 'admin_dashboard' %}" title="Dashboard">
               <em class="icon-speedometer"></em>
               <span>Dashboard</span>
            </a>
         </li>
         <li>
            <a href="{% url 'user_management' %}" title="User Management">
               <em class="icon-people"></em>
               <span>User Management</span>
            </a>
         </li>

         <!--<li>
            <a href="#" title="Departments">
               <em class="icon-organization"></em>
               <span>Departments</span>
            </a>
         </li>
         <li>
            <a href="#" title="Reports">
               <em class="icon-chart"></em>
               <span>Reports</span>
            </a>
         </li> -->
         
         <!-- Logout Link -->
         <li class="nav-heading"><span>Account</span></li>
         <li>
            <a href="{% url 'logout' %}" title="Logout">
               <em class="icon-logout"></em>
               <span>Logout</span>
            </a>
         </li>
         
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->