{% load static %}

<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <ul class="sidebar-nav">
         <li class="has-user-block">
            <div class="collapse show" id="user-block">
               <div class="item user-block">
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        {% if request.user.userprofile.profile_picture %}
                        <img class="img-thumbnail rounded-circle" src="{{ request.user.userprofile.profile_picture.url }}" alt="Avatar" width="60" height="60">
                        {% else %}
                        <img class="img-thumbnail rounded-circle" src="{% static 'img/user/02.jpg' %}" alt="Avatar" width="60" height="60">
                        {% endif %}
                        <div class="circle bg-success circle-lg"></div>
                     </div>
                  </div>
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, {{ request.user.first_name|default:request.user.username }}</span>
                     <span class="user-block-role">{{ request.user.userprofile.get_role_display }}</span>
                  </div>
               </div>
            </div>
         </li>
         <li class="nav-heading"><span>Main Navigation</span></li>
         
         <li class="{% if request.resolver_match.url_name == 'head_dashboard' %}active{% endif %}">
            <a href="{% url 'head_dashboard' %}" title="Dashboard">
               <em class="icon-speedometer"></em>
               <span>Dashboard</span>
            </a>
         </li>

         <li class="{% if request.resolver_match.url_name == 'received_documents' %}active{% endif %}">
            <a href="{% url 'received_documents' %}" title="Pending Documents">
               <em class="icon-envelope-open"></em>
               {% if unread_received_count > 0 %}
               <div class="badge badge-danger float-right">{{ unread_received_count }}</div>
               {% endif %}
               <span>Inbox (For Review)</span>
            </a>
         </li>

         <li class="{% if request.resolver_match.url_name == 'all_documents' %}active{% endif %}">
            <a href="{% url 'all_documents' %}" title="Document History">
               <em class="icon-folder-alt"></em>
               <span>Document History</span>
            </a>
         </li>
         
         <li class="nav-heading"><span>Account</span></li>
         
         <li>
            <a href="{% url 'logout' %}" title="Logout">
               <em class="icon-logout"></em>
               <span>Logout</span>
            </a>
         </li>
         
      </ul>
   </nav>
</div>