{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ERDMS{% endblock title %}</title>
    
    <link rel="icon" type="image/png" href="{% static 'assets/img/capitol_logo.png' %}">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/themes/theme-a.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/datatables.net-buttons-bs/css/buttons.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css' %}" rel="stylesheet">
    <!-- Icon Libraries -->
    <link rel="stylesheet" href="{% static 'assets/vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="vendor/@fortawesome/fontawesome-free/css/brands.css">
   <link rel="stylesheet" href="vendor/@fortawesome/fontawesome-free/css/regular.css">
   <link rel="stylesheet" href="vendor/@fortawesome/fontawesome-free/css/solid.css">
   <link rel="stylesheet" href="vendor/@fortawesome/fontawesome-free/css/fontawesome.css"><!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css"><!-- ANIMATE.CSS-->
   <link rel="stylesheet" href="vendor/animate.css/animate.css"><!-- WHIRL (spinners)-->
   <link rel="stylesheet" href="vendor/whirl/dist/whirl.css"><!-- =============== PAGE VENDOR STYLES ===============-->
   <!-- =============== BOOTSTRAP STYLES ===============-->
   <link rel="stylesheet" href="css/bootstrap.css" id="bscss"><!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="css/app.css" id="maincss">
    
    <style>
        body { font-family: 'Poppins', sans-serif; background-color: #f8f9fa; min-height: 100vh; margin: 0; }
        .navbar-brand img { width: 40px; margin-right: 10px; }
    </style>
    {% block extra_css %}{% endblock extra_css %}
</head>

<body class="layout-fixed">
    {% block main_container %}
    {% if user.is_authenticated %}
    <div class="wrapper">
        <header class="topnavbar-wrapper">
            <nav class="navbar topnavbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <div class="brand-logo">
                            <img src="{% static 'assets/img/capitol_logo.png' %}" alt="Logo" style="width: 30px;"> ERDMS
                        </div>
                        <div class="brand-logo-collapsed">
                            <img src="{% static 'assets/img/capitol_logo.png' %}" alt="Logo" style="width: 30px;">
                        </div>
                    </a>
                </div>
                <ul class="navbar-nav mr-auto flex-row">
                    <li class="nav-item">
                        <a class="nav-link d-none d-md-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed">
                            <em class="fas fa-bars"></em>
                        </a>
                        <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
                            <em class="fas fa-bars"></em>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link" id="user-block-toggle" href="#user-block" data-toggle="collapse">
                            <em class="icon-user"></em>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row ms-auto">
                    <li class="nav-item d-flex align-items-center">
                        <span class="text-white me-4 small d-none d-md-block">Welcome, {{ user.username|title }}</span>
                        <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">
                            <em class="icon-logout"></em> Logout
                        </a>
                    </li>
                </ul>
                </nav>
        </header>
        <aside class="aside-container">
            {% block sidebar %}
                {% if user.is_superuser %}
                    {% include 'includes/admin_sidebar.html' %}
                {% elif user.userprofile.role == 'HEAD' %}
                    {% include 'includes/head_sidebar.html' %}
                {% else %}
                    {% include 'includes/employee_sidebar.html' %}
                {% endif %}
            {% endblock sidebar %}
        </aside>
        <section class="section-container">
            <div class="content-wrapper">
                {% block content %}{% endblock content %}
            </div>
        </section>
        <footer class="footer-container text-center">
            <span>&copy; 2026 - Provincial Government of Catanduanes | GO-IT Dept.</span>
        </footer>
        </div>
    {% else %}
    <div style="min-height: 100vh; width: 100vw; overflow-x: hidden;">
        {% block auth_content %}{% endblock auth_content %}
    </div>
    {% endif %}
    {% endblock main_container %}

    <script src="{% static 'assets/vendor/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/popper.js/dist/umd/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/vendor/js-storage/js.storage.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
    
    <script src="{% static 'assets/js/app.js' %}"></script>

    <!-- DataTables and related plugins -->
    <script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.colVis.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-keytable/js/dataTables.keyTable.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>

    <script src="{% static 'assets/vendor/jszip/dist/jszip.js' %}"></script>
    <script src="{% static 'assets/vendor/pdfmake/build/pdfmake.js' %}"></script>
    <script src="{% static 'assets/vendor/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/custom/custom.js' %}"></script>
    
    <script src="{% static 'assets/js/app.init.js' %}"></script>

    <script>
        $(function() {
            // Manual user block toggle support
            $('#user-block-toggle').on('click', function(e) {
                e.preventDefault();
                $('#user-block').collapse('toggle');
            });

            // Auto-hide sidebar toggled class on large screens
            $(window).on('resize', function() {
                if ($(window).width() > 992) {
                    $('body').removeClass('aside-toggled');
                }
            });
        });
    </script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>